<!--The content below is only a placeholder and can be replaced.-->
<div class="background">
    <div style="text-align:center">
        <h1>
            Welcome to {{ title }}!
        </h1>
        <img width="300" alt="Angular Logo" [src]="imageSource">
    </div>


    <app-template-driven-form></app-template-driven-form>

    <app-reactive-form></app-reactive-form>

    <app-reactive-form-advanced></app-reactive-form-advanced>

    <app-new-component></app-new-component>

    <app-hello-world></app-hello-world>



    <router-outlet></router-outlet>
</div>